<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal</title>
</head>
<body>
    <nav>
        <div class="logo">Personal info</div>
        <div class="route">
            <ul>
                <li><a href="#">Home</a></li>
                <li>skill</li>
                <li>Project</li>
                <li>contact us</li>
            </ul>
        </div>
    </nav>

    <section>
        <div class="main">
            <div class="img-container">
                <img src="" alt="">
            </div>
            <div class="subject">

            </div>
        </div>
    </section>

    <footer>
        <div class="foot">
            
        </div>
    </footer>
</body>
</html>